* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(71, 64, 116);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 60vw;
    min-height: 70vh;
    background-color: rgba(216, 222, 229, 0.25);
    border-radius: 0.5em;
    padding: 3em 5em;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation button {
    padding: 1em 2.125em;
}

.button-none {
    display: none;
}

.task {
    margin: 1.5em 0;
}

.inputForm {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 4em 4em 4em;
    align-items: center;
    gap: 0 1em;
}

.taskResult {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    margin-top: 1.5em;
}

#getSalary {
    margin: 2em 0;
}

/* --------------------task2------------------------ */

.inputForm2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 4em 4em 4em;
    align-items: center;
    margin: 1em 0;
}

.inputForm2 input {
    max-width: 100px;
    margin-right: 1.5em;
}

.error {
    color: red;
    margin: 1em 0;
}

/* --------------------task3------------------------ */

.inputForm3 {
    display: block ruby;
}

.inputForm3 input {
    max-width: 100px;
    margin-right: 0.5em;
}

.inputForm3 label {
    margin-right: 1.5em;
}

#getСoordinate {
    margin: 2em 0;
}

/* --------------------task4------------------------ */

.inputForm4 {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 4em 4em;
    align-items: center;
}

.inputForm4 input {
    max-width: 200px;
}

#getVariable {
    margin: 2em 0;
}

/* --------------------task5/task6------------------------ */

.inputForm5 {
    display: flex;
    align-items: center;
    margin: 2em 0;
    gap: 2em
}

.inputForm5 input {
    max-width: 200px;
}

.inputForm6 {
    display: flex;
    align-items: center;
    margin: 2em 0;
    gap: 2em
}

.inputForm6 input {
    max-width: 200px;
}
